@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  font-family: 'Karla', sans-serif;
}
.title{
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 20pt;
  background-color: lightseagreen;
}

.form-title{
  font-size: 9pt;
  margin-bottom: 20px;
}
label{
  color: black;
  font-weight: bold;
}

.side-bar{
  padding: 20px;
}

.results{
  margin-top: 20px;
  position: fixed;
  width:80%;
}

.col{
  text-align: center;
}

/* Navbar */
.nav-link {
  font-size: 2rem;
  color: black !important;
  margin: 0 2% !important;
}

.home-nav {
  width: 250px !important;
}
.navbar-nav {
  position: absolute;
  width: 60%;
  right: 2%;
}

.navbar-expand-lg .navbar-nav .nav-link 
.navbar-nav a {
  padding: 0 !important;
 }

 .nav-link {
   padding: 0 !important;
 }

 .nav-link .btn-outline-dark {
  height: 80% !important;
 }

.navbar-nav a {
  margin-left: 13%;
}

.homepage-btn {
  margin-left: 10px;
}

.nav-user-info-img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
}

/* Home Page */
.home-gif  {
  height: 1000px;
  background: url(./public/videos/earth2.gif);
  background-size: cover;
}

.btn-info {
  background-color: #F5E9DD !important;
  border-color: transparent !important;
  color: black !important;
}



.btn-warning {
  border-color: transparent !important;
  background-color: #BDC1AC !important;
}

/* Event */
.comment {
  margin:4% 0;
}

.comment img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}

.comment h4 {
  margin-left: 5px;
  display: inline-block;
}


/* dashboard  */
.dashboard {
margin: 4% 4%;
text-align: center;
}

.dashboard h1 {
  font-family: 'Gloria Hallelujah', cursive;
  display: inline-block;
}

.dashboard-gif {
  width: 15%;
}

.friend-activity img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
}

.friend-activity p {
  display: inline-block;
}

/* profile  */
.dropdown-img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
}

.user-scores {
  margin: auto;
}

/* Scores/profile Scores */
.scores {
  margin: auto;
  text-align: center;
}

.user-scores div {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 40px !important;
  text-align: center;
  place-items: center;
  padding: 2%;
  margin: 2%;
}

.user-scores-footprint {
  background: url('https://image.freepik.com/free-photo/sunny-defocused-green-nature-background-abstract-bokeh-effect-es-element-your-design_211682-265.jpg');
  background-repeat: no-repeat;
  border-color: transparent !important;
  color: black;
}

.user-scores-greenvy {
  background: url('https://images.unsplash.com/photo-1568832359672-e36cf5d74f54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-repeat: no-repeat;
  border-color: transparent !important;
  color: white;
  margin: 5% 2%;
}

.user-scores-pending {
  background: url(./public/images/beaut.jpg);
  background-repeat: no-repeat;
  border-color: transparent !important;
  color: black;
}

/* Login */
.login-page {
  background-color: #EFE0EE;
  width: 40%;
  padding: 4% 8%;
  margin: 10% auto;
  border-radius: 40px;
}

.login-page h2 {
  margin: 5% auto;
  text-align: center;
}

.btn-primary {
  background-color: rgb(141, 185, 185) !important;
  border-color: transparent !important;
}

/* Signup  */
.signup-page {
width: 100%;
height: 100%;
margin: 10% auto;
}

.signup-form {
  border-radius: 40px;
  background-color: rgb(149, 130, 148);
  width: 40%;
  padding: 5%;
  margin: auto;
}

.signup-form input {
  margin: 0 4%;
}

.form-group {
  display: block;
}

.ant-form-item-control-input-content {
  margin: 3% 0 !important;
}

.ant-form-inline .ant-form-item {
  flex: inherit !important;
}

.ant-input {
  width: 160px;
}